.home {
  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
  }
  &__title {
    font-size: 32px;
    margin: 0px 0px 35px 0px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(210px, 1fr));
    gap: 35px;
  }
}
